*{
	margin:0px;
	padding: 0px;
}
ul,li{
	list-style: none;
}
.contentbox-title{
	width: 1000px;
	background: #FFFFFF;
	margin: 50px auto 20px auto;
	padding: 15px 20px;
	box-shadow: 3px 3px 5px #8b8b8b;
	height: 20px;
}
.contentbox{
	width: 1000px;
	background: #FFFFFF;
	margin: 0px auto;
	padding: 40px 20px;
	box-shadow: 3px 3px 5px #8b8b8b;
	min-height: 500px;
	position: relative;
}
